@charset "UTF-8";
.inner .slideshow img, .inner .lens img {
  position: absolute;
  width: 100%;
}

.inner .slideshow img {
  display: none;
}

/* JavsScript 無効時 */
.no-js .slideshow img:first-child {
  display: inline;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 5px;
  width: 105%;
  z-index: 1;
}
nav .nav-item {
  float: right;
  padding: 5px;
}
nav .nav-item a {
  color: #fff;
}

.bamboo img {
  width: 100%;
  margin-top: 50%;
}

.parallax-window {
  min-height: 720px;
  width: 100%;
  background: transparent;
}
.parallax-window .poem {
  position: relative;
  top: 400px;
  left: 1100px;
  width: 20%;
  opacity: 0;
  margin-top: -1em;
}
.parallax-window p {
  position: relative;
  top: -60px;
  background-color: black;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  margin-bottom: -1em;
}
.parallax-window .blocks {
  position: relative;
  left: 7%;
}
.parallax-window .blocks .bd {
  position: relative;
  top: 40px;
  width: 25%;
  margin: 25px;
  text-align: center;
}
.parallax-window #gd {
  position: absolute;
  width: 20%;
  top: 13em;
  left: 8%;
}
.parallax-window #id {
  position: absolute;
  width: 20%;
  top: 13em;
  left: 40%;
}
.parallax-window #wri {
  position: absolute;
  width: 20%;
  top: 13em;
  left: 75%;
}
