@charset "UTF-8";
.inner .slideshow img, .inner .lens img {
  position: absolute;
  width: 100%;
}

.inner .slideshow img {
  display: none;
}
.inner .lens img {
  top: 0;
}

/* JavsScript 無効時 */
.no-js .slideshow img:first-child {
  display: inline;
}

nav {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 15px;
  width: 100%;
  z-index: 100;
  top: 0;
}
nav .nav-item {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}
nav .nav-item a {
  color: #fff;
}

.bamboo img {
  width: 100%;
  margin-top: 50%;
}

.parallax-window {
  min-height: 800px;
  width: 100%;
  background: transparent;
  margin-bottom: -1em;
}
.parallax-window .intro {
  text-align: center;
  font-size: 18px;
}
.parallax-window .poem {
  position: relative;
  top: 400px;
  left: 1100px;
  width: 20%;
  opacity: 0;
  margin-top: -1em;
}
.parallax-window h1 {
  position: relative;
  top: -30px;
  background-color: black;
  color: #fff;
  font-size: 36px;
  padding: 20px;
  z-index: 200;
}
.parallax-window .section {
  text-align: center;
  padding: 100px;
}
.parallax-window .section .button {
  position: relative;
  margin-top: -5em;
  text-align: center;
}
.parallax-window .section .button .bd {
  position: relative;
  width: 400px;
}
.parallax-window .section .button .wd {
  width: 300px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
#root #root_footer {
  height: 60px;
}

#footer {
  clear: both;
  position: relative;
  height: 60px;
}

#footer {
  background-color: #000;
  color: #fff;
}
