/*nav {
  padding: 5px;
  background: #000000; 
  opacity: .6;
  border-radius: 10px;
  border: 2px solid; 
}
.navigation-item{
  color:#ffffff;
}

nav a {
  color: #ffffff;
  font-size: 1.2em;
 text-decoration: none;   
}*/
body{
  background: url("http://jessicatsengj.github.io/my_web/pictures/10.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  margin-top: 100px;
}
.box1 .menu .list {
    display: -webkit-box;
    display: box;
    position: fixed;
    height: 70px;
    top: 0;
    left: -40px;
    width: 100%;
    z-index: 1;
}
 
.box1 .menu .navigation-item {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
}
.box1 .menu a {
    margin-top: -10px;
    background: rgba(0,0,0,1);
    color: #fff;
    display: block;
    padding: 1.2em 0;
    text-align: center;
    text-decoration: none;
    text-indent: -0.5em;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.box1 .menu a:hover {
    background: #888888;
}
.box1 .menu .navigation-item a:active, .box1 .menu .navigation-item a:visited {
    opacity: 1;
}


.title{
   display: block;
   margin-top: -1em;
   width: 100%;
   border-top: 6px solid #696969;
   border-bottom: 6px solid #696969;
   position: fixed;
   z-index: -1;
}
.content{
  /*background: rgba(255,255,255,.7);*/
  color: #FFF;
  display: block;
  line-height: 2em;
  position: absolute;
  top: 44em;
}
.word1{
  background: rgba(0,0,0,.7);
  padding: 2em;
  margin-bottom: 45em;
}
.word2{
  /*background: rgba(0,0,0,.9);*/
  padding: 2em;
  margin-top: 40em;
  background-color: rgba(0,0,0,1);
  /*background-image: -webkit-radial-gradient(50% 40%, rgba(255,255,255,0.3) 0, rgba(0,0,0,0.5) 100%);*/
}
.image {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.picture{
  float: left;
  width: 30%;
  margin-right: 2em;
  border-radius: 10px;
  border: #fff solid 3px; 
}
.picture:hover + .description,
.description:hover {
  display: block;
}
 /*.picture:hover{
  background: rgba(255,255,255,.5);
 }*/

.description {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.6));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-sizing: border-box;
  display: none;
  font-size: 1em;
  height: 80%;
  width: 30%;
  left: 3px;
  padding: 10px;
  position: absolute;
  top: 7em;
}
 
.description a {
  display: block;
  height: 500px;
  color: #000;
  overflow: hidden;
  text-decoration: none;
}



